.project {
    margin: 0 auto;
    margin-top: 5em;
    max-width: 700px;
    max-height: auto;
    text-align: center;
    background-color: #fcfcfc;
    border: 3px double #eee /*f3f3f3*/;
}


.project .content {
    background-color: #fff;
    color: #222;
    margin: 0;
}

.project .language {
   border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: #F5F5F5;
    color: #222;
    padding: 0.2em;
}

h5 {
    font-size: 1.5em;
    padding: 1em 0 0 0;;
    margin: 0 auto;
    text-align: center;
}

p {
    margin: 0;
    padding-bottom: 1em;
}

h6 {
    font-size: 1.6em;
    margin: 0 auto;
}

#project-img {
    margin: 0.5em;
    margin-bottom: 1em;
    max-width: 420px;
    padding-bottom: 0.2em;
    width: 90%;
    height: auto;
    border: 1px solid;
    border-color: #F4F4F4;
    text-align: center;
}