html {
    background: #F4F4F4;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
    height: 100%;
}

body {
    font-family: "Oxygen", sans-serif;
    font-size: 1em;
    
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #222;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
    padding: 2em 2em 4em;
    
    /* Remove belwo to go back 
    margin: 0% 15%; UNCOMMENT WHEN GOING BACK
    margin: 0 auto;
    padding-bottom: 0.2em;
    max-width: 700px;
    max-height: auto;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 1), 1px 6px 20px 0 rgba(0, 0, 0, 0.1);
    * FOR portfolio */
}

/* Name, attributes */
hgroup {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2.5em;
    margin: 0 atuo;
    text-align: center;
}

h1 {
    position: relative;
    margin: 0 auto;
    font-size: 1.6em;
    word-break: initial;
    padding: 0.1px;
    overflow-y: inherit;
}
/* Attributes */
h2 {
    margin: 0 auto;
    font-size: 0.7em;
}

/* Sub-sections */
h4 {
    margin: 0.5em 0.5em 0 0.5em;
    font-size: 2em;
}

hgroup nav ul {
    background-color: #fff;
    font-size: 0.5em;
    list-style-type: none;
    list-style-position: outside;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-left: 0;
}

hgroup nav ul li {
    padding-top: 0.5em;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 0.2em;
}

#nav {
    margin: 0 auto;
    z-index:100; 
    left:0;
    right:0;
    max-width: 1000px;
}

#nav-img {
    width: 1.2em;
    height: auto;
    margin-right: 0.2em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: black;
}

#this {
    color:black;
}
hr {
    margin: 0 auto;
    max-width: 1000px;
    color: white;
}

p {
    text-align: justify;
    padding: 0 1em 0em 1em;
}


img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.parent-footer {
    background: #f4f4f4;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    border-top: 1px solid #999;
}



small {
    padding: 0;
    margin: 0 auto;
}


button {
    background: none;
    color: blue;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
}

button:hover {
    text-decoration: underline;
}
